<!DOCTYPE html>
<html lang="ko"
      th:replace="~{layout/base::layout(
      ~{::title},
      ~{::div#container},
      ~{::link},
      ~{::script},
      ~{},
      _
      )}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>초기화면</title>
  <!-- page css -->
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="">
  <style>
    table {
      border:1px solid;
      border-collapse: collapse;
    }
    td,th {
      border:1px solid;
      padding:5px;
    }
  </style>
  <!-- page js -->
  <script></script>
  <script></script>

</head>
<body>
<div id="container">
  로그인전 화면
  <ul>
    <li><a th:href="@{/login}">로그인</a></li>
    <li><a th:href="@{/products}">상품목록(비회원)</a></li>
  </ul>
</div>
</body>
</html>